<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}pickforme{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://kit.fontawesome.com/32d265316c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset("css/main.css") }}"/>
</head>
<body>
<div class="site-container">
    <div class="site-navigation-placeholder"></div>
    <nav class="site-navigation">
        <div>
            <a class="site-logo" href="{{ path('homepage') }}">pickforme</a>
            <a class="site-navigation-link" href="{{ path('random') }}">
                <i class="fa-solid fa-shuffle"></i>
                {{ 'navigation.random'|trans }}
            </a>
            <a class="site-navigation-link" href="#">
                <i class="fa-solid fa-bolt"></i>
                {{ 'navigation.battle'|trans }}
            </a>
            <a class="site-navigation-link" href="#">
                <i class="fa-solid fa-shuffle"></i>
                {{ 'navigation.search'|trans }}
            </a>
        </div>
        <div>

        </div>
    </nav>
    <div class="site-data">
        <nav class="site-sub-navigation">
            <div>xd</div>
            <div>
                <div class="site-user-icon-container">
                    <i class="site-user-icon fa-solid fa-user"></i>
                </div>
            </div>
        </nav>
        <main class="site-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
